html, body { 
	background: url(../images/background2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#registerView {
    background-color: rgba(255,255,255,0.85);
    padding: 50px;
    width: 650px;
    height: 250px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}

#registerView > div:nth-child(3) {
	text-align: center;
	margin-top: 20px;
}

#btnStart {
	padding: 5px;
}

#playView {
	background-color: rgba(255,255,255,0.85);
    padding: 50px;
    width: 250px;
    height: 200px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}

#playView > div:nth-child(1) {
	text-align: center;
}

#btnRestart {
	padding: 5px;
}

#board > div {
  display: flex; }

#board input[type="checkbox"] {
  display: none; }

#board label {
  display: inline-block;
  width: 70px;
  height: 30px;
  background-color: #00536D;
  text-align: center;
  color: #fff;
  margin: 5px; }
